Projeto.Web/Service References/ServiceReferenceJogador/JogadorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="JogadorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49201/Services/JogadorService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49201/Services/JogadorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49201/Services/JogadorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Projeto.Web.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJogadorService_CarregarTimes_InputMessage">
    <wsdl:part name="parameters" element="tns:CarregarTimes" />
  </wsdl:message>
  <wsdl:message name="IJogadorService_CarregarTimes_OutputMessage">
    <wsdl:part name="parameters" element="tns:CarregarTimesResponse" />
  </wsdl:message>
  <wsdl:message name="IJogadorService_Cadastrar_InputMessage">
    <wsdl:part name="parameters" element="tns:Cadastrar" />
  </wsdl:message>
  <wsdl:message name="IJogadorService_Cadastrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarResponse" />
  </wsdl:message>
  <wsdl:message name="IJogadorService_Editar_InputMessage">
    <wsdl:part name="parameters" element="tns:Editar" />
  </wsdl:message>
  <wsdl:message name="IJogadorService_Editar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarResponse" />
  </wsdl:message>
  <wsdl:message name="IJogadorService_Atualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Atualizar" />
  </wsdl:message>
  <wsdl:message name="IJogadorService_Atualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IJogadorService_Excluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Excluir" />
  </wsdl:message>
  <wsdl:message name="IJogadorService_Excluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirResponse" />
  </wsdl:message>
  <wsdl:message name="IJogadorService_Consultar_InputMessage">
    <wsdl:part name="parameters" element="tns:Consultar" />
  </wsdl:message>
  <wsdl:message name="IJogadorService_Consultar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarResponse" />
  </wsdl:message>
  <wsdl:portType name="IJogadorService">
    <wsdl:operation name="CarregarTimes">
      <wsdl:input wsaw:Action="http://tempuri.org/IJogadorService/CarregarTimes" message="tns:IJogadorService_CarregarTimes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJogadorService/CarregarTimesResponse" message="tns:IJogadorService_CarregarTimes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Cadastrar">
      <wsdl:input wsaw:Action="http://tempuri.org/IJogadorService/Cadastrar" message="tns:IJogadorService_Cadastrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJogadorService/CadastrarResponse" message="tns:IJogadorService_Cadastrar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <wsdl:input wsaw:Action="http://tempuri.org/IJogadorService/Editar" message="tns:IJogadorService_Editar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJogadorService/EditarResponse" message="tns:IJogadorService_Editar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Atualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IJogadorService/Atualizar" message="tns:IJogadorService_Atualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJogadorService/AtualizarResponse" message="tns:IJogadorService_Atualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <wsdl:input wsaw:Action="http://tempuri.org/IJogadorService/Excluir" message="tns:IJogadorService_Excluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJogadorService/ExcluirResponse" message="tns:IJogadorService_Excluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Consultar">
      <wsdl:input wsaw:Action="http://tempuri.org/IJogadorService/Consultar" message="tns:IJogadorService_Consultar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJogadorService/ConsultarResponse" message="tns:IJogadorService_Consultar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IJogadorService" type="tns:IJogadorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CarregarTimes">
      <soap:operation soapAction="http://tempuri.org/IJogadorService/CarregarTimes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cadastrar">
      <soap:operation soapAction="http://tempuri.org/IJogadorService/Cadastrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <soap:operation soapAction="http://tempuri.org/IJogadorService/Editar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Atualizar">
      <soap:operation soapAction="http://tempuri.org/IJogadorService/Atualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <soap:operation soapAction="http://tempuri.org/IJogadorService/Excluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultar">
      <soap:operation soapAction="http://tempuri.org/IJogadorService/Consultar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JogadorService">
    <wsdl:port name="BasicHttpBinding_IJogadorService" binding="tns:BasicHttpBinding_IJogadorService">
      <soap:address location="http://localhost:49201/Services/JogadorService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>