Projeto.Web/Service References/ServiceReferenceTime/TimeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Projeto.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Projeto.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TimeModelCadastro">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataFundacao" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeModelCadastro" nillable="true" type="tns:TimeModelCadastro" />
  <xs:complexType name="TimeModelConsulta">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataFundacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdTime" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeModelConsulta" nillable="true" type="tns:TimeModelConsulta" />
  <xs:complexType name="TimeModelEdicao">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataFundacao" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdTime" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeModelEdicao" nillable="true" type="tns:TimeModelEdicao" />
  <xs:complexType name="ArrayOfTimeModelConsulta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeModelConsulta" nillable="true" type="tns:TimeModelConsulta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeModelConsulta" nillable="true" type="tns:ArrayOfTimeModelConsulta" />
</xs:schema>