Projeto.Web/Service References/ServiceReferenceTime/TimeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49201/Services/TimeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Projeto.Web.Models" />
  <xs:element name="Cadastrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Projeto.Web.Models" minOccurs="0" name="model" nillable="true" type="q1:TimeModelCadastro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CadastrarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Projeto.Web.Models" minOccurs="0" name="EditarResult" nillable="true" type="q2:TimeModelConsulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Atualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Projeto.Web.Models" minOccurs="0" name="model" nillable="true" type="q3:TimeModelEdicao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AtualizarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Excluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExcluirResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Consultar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Projeto.Web.Models" minOccurs="0" name="ConsultarResult" nillable="true" type="q4:ArrayOfTimeModelConsulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>